*.rdb
*.swp
Gemfile.lock
*.gem
/tmp/
/.idea
/.yardoc
/.bundle
/coverage/*
/doc/
/examples/sentinel/sentinel.conf
/nohup.out
/pkg/*
/rdsrv
/redis/*
/test/db
/test/test.conf
appendonly.aof
temp-rewriteaof-*.aof
