---
name: Test
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"
jobs:
  main:
    name: Main
    timeout-minutes: 30
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        redis: ["5.0"]
        ruby: ["2.7", "2.6", "2.5", "2.4"]
        driver: ["ruby", "hiredis", "synchrony"]
    runs-on: ${{ matrix.os }}
    env:
      VERBOSE: true
      TIMEOUT: 30
      LOW_TIMEOUT: 0.01
      DRIVER: ${{ matrix.driver }}
      REDIS_BRANCH: ${{ matrix.redis }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Print environment variables
        run: |
          echo "TIMEOUT=${TIMEOUT}"
          echo "LOW_TIMEOUT=${LOW_TIMEOUT}"
          echo "DRIVER=${DRIVER}"
          echo "REDIS_BRANCH=${REDIS_BRANCH}"
      - name: Set up Ruby
        uses: actions/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Cache dependent gems
        uses: actions/cache@v1
        with:
          path: .bundle
          key: "local-bundle-ruby-${{ matrix.ruby }}-on-${{ matrix.os }}-0001"
      - name: Set up Gems
        run: |
          gem update --system --no-document
          gem install bundler --no-document
          bundle install --jobs 4 --retry 3 --path=.bundle
      - name: Cache local temporary directory
        uses: actions/cache@v1
        with:
          path: tmp
          key: "local-tmp-redis-${{ matrix.redis }}-on-${{ matrix.os }}"
      - name: Booting up Redis
        run: make start_all
      - name: Test
        run: make test
        env:
          RUBYOPT: "--enable-frozen-string-literal"
      - name: Shutting down Redis
        run: make stop_all
  sub:
    name: Sub
    timeout-minutes: 30
    strategy:
      matrix:
        os: ["ubuntu-latest"]
        redis: ["5.0", "4.0", "3.2", "3.0"]
        ruby: ["jruby-9.2.9.0", "2.3"]
        driver: ["ruby"]
    runs-on: ${{ matrix.os }}
    env:
      VERBOSE: true
      TIMEOUT: 30
      LOW_TIMEOUT: 0.07
      DRIVER: ${{ matrix.driver }}
      REDIS_BRANCH: ${{ matrix.redis }}
    steps:
      - name: Check out code
        uses: actions/checkout@v2
      - name: Print environment variables
        run: |
          echo "TIMEOUT=${TIMEOUT}"
          echo "LOW_TIMEOUT=${LOW_TIMEOUT}"
          echo "DRIVER=${DRIVER}"
          echo "REDIS_BRANCH=${REDIS_BRANCH}"
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: Cache dependent gems
        uses: actions/cache@v1
        with:
          path: .bundle
          key: "local-bundle-ruby-${{ matrix.ruby }}-on-${{ matrix.os }}-0001"
      - name: Set up Gems
        run: |
          gem update --system --no-document
          gem install bundler --no-document
          bundle install --jobs 4 --retry 3 --path=.bundle
      - name: Cache local temporary directory
        uses: actions/cache@v1
        with:
          path: tmp
          key: "local-tmp-redis-${{ matrix.redis }}-on-${{ matrix.os }}"
      - name: Booting up Redis
        run: make start_all
      - name: Test
        run: make test
      - name: Shutting down Redis
        run: make stop_all
